/* App.css */
/* Ajustes generales */
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Ajustes de colores */
.bg-light {
    background-color: #f8f9fa !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

.text-dark {
    color: #343a40 !important;
}

.text-white {
    color: #d3d3d3 !important; 
}

/* Ajustes de navbar y footer */
.navbar-dark {
    background-color: #343a40 !important;
    color: #d3d3d3 !important; 
}

.navbar-light {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
}

.footer-dark {
    background-color: #343a40 !important;
    color: #d3d3d3 !important; 
}

.footer-light {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
}

/* Botones de modo oscuro y claro */
.btn-dark-mode {
    background-color: #333;
    color: #d3d3d3; 
    border: none;
}

.btn-light-mode {
    background-color: #f8f9fa;
    color: #343a40;
    border: none;
}

.btn-dark-mode:hover, .btn-light-mode:hover {
    opacity: 0.8;
}

/* Enlaces de navegación */
.nav-link-dark {
    color: #d3d3d3 !important; 
}

.nav-link-light {
    color: #343a40 !important;
}
