/* src/App.css */

body {
    transition: background-color 0.3s, color 0.3s;
}

.bg-light {
    background-color: #f8f9fa !important;
}

.bg-dark {
    background-color: #343a40 !important;
}

.text-dark {
    color: #343a40 !important;
}

.text-white {
    color: #d3d3d3 !important; 
}

.navbar-dark {
    background-color: #343a40 !important;
    color: #d3d3d3 !important; 
}

.navbar-light {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
}

.footer-dark {
    background-color: #343a40 !important;
    color: #d3d3d3 !important; 
}

.footer-light {
    background-color: #f8f9fa !important;
    color: #343a40 !important;
}

.btn-dark-mode {
    background-color: #333; /* Fondo oscuro */
    color: #d3d3d3; 
    border: none;
}

.btn-light-mode {
    background-color: #f8f9fa;
    color: #343a40;
    border: none;
}

.btn-dark-mode:hover, .btn-light-mode:hover {
    opacity: 0.8;
}

.nav-link-dark {
    color: #d3d3d3 !important; 
}

.nav-link-light {
    color: #343a40 !important;
}
